:root {
    font-family: Helvetica;
    font-size: 14px;
    background-color: lightblue;
}

h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

body {
    margin: 10px;
}

#meme-canvas {
    width: 300px;
}